body{
    background: rgb(203, 201, 201);
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
    align-items: center;
}
img{
    border-radius: 100%;
    width: 25%;
    height: 20rem;
}
div, p{
    padding-bottom: 10px;
    font-weight: 600;
}